DOCTYPE html

html
  head
    // Website Title & Description for Search Engine purposes
    meta(content='', name='description')
    // Mobile viewport optimized
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    // Bootstrap CSS
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='includes/css/bootstrap-glyphicons.css')
    // Custom CSS
    link(rel='stylesheet', href='includes/css/styles.css')
    // Include Modernizr in the head, before any other Javascript
    script(src='includes/js/modernizr-2.6.2.min.js')
  body
    #main.container
      .navbar.navbar-fixed-top
        .container
          // .btn-navbar is used as the toggle for collapsed navbar content
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(alt='Your Logo', src='images/logo.png')
          .nav-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Services
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='#') Web Design
                  li
                    a(href='#') Web Development
                  li
                    a(href='#') SEO
                  li.divider
                  li.dropdown-header More Services
                  li
                    a(href='#') Content Creation
                  li
                    a(href='#') Social Media Marketing
                // end dropdown-menu
            form.navbar-form.pull-left
              input#searchInput.form-control(type='text', placeholder='Search this site...')
              button.btn.btn-default(type='submit')
                span.glyphicon.glyphicon-search
            // end navbar-form
            ul.nav.navbar-nav.pull-right
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-user
                  | My Account
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-wrench
                      | Settings
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-refresh
                      | Update Profile
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-briefcase
                      | Billing
                  li.divider
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-off
                      | Sign out
            // end nav pull-right
          // end nav-collapse
        // end container
      // end navbar
   
      #myCarousel.carousel.slide
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner
          #slide1.item.active
            .carousel-caption
              h4 Bootstrap 3
              p
                | Learn how to build your first responsive website with the brand new Twitter Bootstrap 3!
            // end carousel-caption
          // end item

          #slide2.item
            .carousel-caption
              h4 Learn to code a website in 4-hours!
              p
                | PSD to HTML5 & CSS3 is a popular Udemy course that has helped thousands of aspiring web designers launch their web design career.
            // end carousel-caption
          // end item

          #slide3.item
            .carousel-caption
              h4 Web Hosting 101
              p
                | Learn how to buy a perfect domain name and hosting package, and get your website live on the web with ease.
            // end carousel-caption
          // end item
        // carousel-inner


        // Controls
        a.left.carousel-control(href='#myCarousel', data-slide='prev')
          span.icon-prev
        a.right.carousel-control(href='#myCarousel', data-slide='next')
          span.icon-next
      // end myCarousel
      
      #bigCallout.row
        .col-12
          #successAlert.alert.alert-success.alert-block.fade.in
            button.close(data-dismiss='alert', type='button') ×
            h4 Success!
            p
              | You just made this element display by using jQuery. Click the "x" in the top right corner to close this bad boy.
          // end alert

          // Visible only on small devices
          .well.well-small.visible-sm
            a.btn.btn-large.btn-block.btn-default(href='')
              span.glyphicon.glyphicon-phone
              | Give us a call!
          // end well-small

          .well
            .page-header
              h1
                | A Fancy Header
                small A subheader for extra awesome.
            // end page-header
            p.lead
              | Some solid leading copy will help get your users engaged. Use this area to come up with something real nice. Know what I'm sayin?
            a#alertMe.btn.btn-large.btn-primary(href='') Click a nice big button
            a.btn.btn-large.btn-link(href='') or a secondary link
          // end well
        // end col-12
      // end bigCallout

      #featuresHeading.row
        .col-12
          h2 More Features
          p.lead
            | Cornhole kitsch Williamsburg pug bicycle rights vegan. Neutra food truck occupy kitsch sustainable.
        // end col-12
      // end featuresHeading

      #features.row
        .col-sm-4.feature
          .panel
            .panel-heading
              h3.panel-title Markup with HTML5
            // end panel-heading
            img.img-circle(alt='HTML5', src='images/badge_html5.jpg')
            p
              | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
            a.btn.btn-warning.btn-block(target='_blank', href='https://www.udemy.com/build-beautiful-html5-website/') Learn to code HTML5
          // end panel
        // end feature

        .col-sm-4.feature
          .panel
            .panel-heading
              h3.panel-title Style with CSS3
            // end panel-heading
            img.img-circle(alt='CSS3', src='images/badge_css3.jpg')
            p
              | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
            a.btn.btn-danger.btn-block(target='_blank', href='https://www.udemy.com/build-beautiful-html5-website/') Style it up with CSS3
          // end panel
        // end feature

        .col-sm-4.feature
          .panel
            .panel-heading
              h3.panel-title Framework by Bootstrap 3
            // end panel-heading
            img.img-circle(alt='Bootstrap 3', src='images/badge_bootstrap.jpg')
            p
              | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
            a.btn.btn-info.btn-block(target='_blank', href='http://getbootstrap.com/') More Bootstrap
          // end panel
        // end feature
      // end features

      #moreInfo.row
        .col-sm-6
          h3 Neat Tabbable Content
          .tabbable
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab1') Section 1
              li
                a(data-toggle='tab', href='#tab2') Section 2
            .tab-content
              #tab1.tab-pane.active
                h4
                  span.glyphicon.glyphicon-map-marker
                  | Our Location
                  small More like our favourite surf spot
                iframe(width='100%', height='200', frameborder='0', src='https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=waikiki+beach&aq=&sll=19.896766,-155.582782&sspn=8.711424,11.854248&ie=UTF8&hq=&hnear=Waikiki+Beach,+Honolulu,+Hawaii,+United+States&t=m&ll=21.277298,-157.8265&spn=0.015996,0.036478&z=14&output=embed', marginwidth='0', marginheight='0', scrolling='no')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              // end tab-pane
              #tab2.tab-pane
                h4
                  | A Left Floated Picture
                  small Using Placehold.it
                img.thumbnail.pull-left(alt='Placeholder image', src='http://placehold.it/140')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                hr
                a.btn.btn-warning(data-toggle='modal', role='button', href='#myModal')
                  span.glyphicon.glyphicon-hand-up
                  | Click for a Modal Window!
                #myModal.modal.fade
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(data-dismiss='modal') ×
                        h4.modal-title A Modal Window
                      // end modal-header
                      .modal-body
                        h4 Text in a modal
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        h4 Popovers in a modal
                        a.btn.btn-danger.pop(data-content='I knew you would.', data-original-title='You clicked it!', data-placement='top', data-toggle='popover', href='#') Don't click this button
                        h4 Tooltips in a modal
                        a(rel='tooltip', data-original-title='Tooltip', href='') This link
                        | should have a tooltip, and so should
                        a(rel='tooltip', data-original-title='Woohoo!', href='#') this one
                        | !
                        hr
                        p
                          small.text-muted PS. This form doesn't do anything. Just a heads up.
                        form.form-horizontal
                          .form-group
                            label.col-lg-2.control-label(for='inputName') Name
                            .col-lg-10
                              input#inputName.form-control(type='text', placeholder='Name')
                          .form-group
                            label.col-lg-2.control-label(for='inputEmail') Email
                            .col-lg-10
                              input#inputEmail.form-control(type='email', placeholder='Email')
                          .form-group
                            label.col-lg-2.control-label(for='inputMessage') Message
                            .col-lg-10
                              textarea#inputMessage.form-control(rows='3', placeholder='Message')
                              button.btn.btn-success.pull-right(type='submit') Send!
                      // end modal-body
                      .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
                      // end modal-footer
                    // end modal-content
                  // end modal-dialog
                // end myModal
              // end tab-pane
            // end tab-content
          // end tabbable
        // end col-sm-6

        .col-sm-6
          h3 Some Text Info
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          h4 A List Group
          .list-group
            a.list-group-item(href='#')
              h4.list-group-item-heading Kale
              p.list-group-item-text
                | Kale or borecole is a vegetable with green or purple leaves, in which the central leaves do not form a head.
            a.list-group-item(href='#')
              h4.list-group-item-heading Carrots
              p.list-group-item-text
                | The carrot is a root vegetable, usually orange in colour, though purple, red, white, and yellow varieties exist. It has a crisp texture when fresh.
            a.list-group-item(href='#')
              h4.list-group-item-heading Steel-cut oats
              p.list-group-item-text
                | Steel-cut oats are whole grain groats which have been cut into pieces. They are commonly used in Scotland and Ireland to make porridge.
          // list-group
          h5 A small heading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        // end col-sm-6
      // end moreInfo

      hr
      
      #moreCourses.row
        .col-12
          h3 Learn more about Web Design
          .thumbnails.row
            .col-6
              .thumbnail
                img(alt='PSD to HTML5 & CSS3', src='images/item_psd2html5.jpg')
                .label.label-success.price
                  span.glyphicon.glyphicon-tag
                  sup $
                  | 39
                .caption
                  h3 PSD to HTML5 & CSS3
                  p
                    | Learn how to take a PSD and turn it into a beautiful, hand-coded HTML5 & CSS3 website with this web design crash course.
                  p
                    a.btn.btn-primary.btn-small(target='_blank', href='https://www.udemy.com/build-beautiful-html5-website/') Take course
                    a.btn.btn-small.btn-link(target='_blank', href='https://www.udemy.com/build-beautiful-html5-website/') Learn more
                // end caption
              // end thumbnail
            // end col-6
            .col-6
              .thumbnail
                img(alt='Web Hosting 101', src='images/item_webhosting101.jpg')
                .label.label-info.price
                  span.glyphicon.glyphicon-tag
                  | Free
                .caption
                  h3 Web Hosting 101
                  p
                    | Learn how to publish your own website live in no time with this web hosting crash course. Plus setup your first Wordpress site in 5-minutes!
                  p
                    a.btn.btn-primary.btn-small(target='_blank', href='https://www.udemy.com/web-hosting-101/') Take course
                    a.btn.btn-small.btn-link(target='_blank', href='https://www.udemy.com/web-hosting-101/') Learn more
                // end caption
              // end thumbnail
            // end col-6
          // end row
        // end col-12
      // end moreCourses
    // end container
    footer
      .container
        .row
          .col-sm-2
            h6 Copyright © 2013 {name}
          // end col-sm-2
          .col-sm-4
            h6 About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // end col-sm-4
      
          .col-sm-2
            h6 Navigation
            ul.unstyled
              li
                a(href='#') Home
              li
                a(href='#') Services
              li
                a(href='#') Links
              li
                a(href='#') Contact
          // end col-sm-2
          .col-sm-2
            h6 Follow Us
            ul.unstyled
              li
                a(href='#') Twitter
              li
                a(href='#') Facebook
              li
                a(href='#') Google Plus
          // end col-sm-2
          .col-sm-2
            h6
              | Coded with
              span.glyphicon.glyphicon-heart
              | by Brad
          // end col-sm-2
        // end row
      // end container

    // All Javascript at the bottom of the page for faster page loading
    // First try for the online version of jQuery
    script(src='http://code.jquery.com/jquery.js')
    // If no online access, fallback to our hardcoded version of jQuery
    script window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\\/script>')
    // Bootstrap JS
    script(src='bootstrap/js/bootstrap.min.js')
    // Custom JS
    script(src='includes/js/script.js')
